.bg-blue-button {
  background-color: #bcd2e7;
}

/* Tablet */
@media (min-width: 768px) and (max-width: 1023px) {
  .cards {
    font-size: 16px;
    padding: 10px;
    display: flex;
    justify-content: space-evenly;
  }

}

/* Escritorio */
@media (min-width: 1024px) {
  .cards {
    font-size: 20px;
    padding: 40px;
    display: flex;
    justify-content: space-between;
  }
}
