<nav class="navbar navbar-expand-lg bg-light maven-pro-font">
  <div class="container ">
    <span class="navbar-brand">
      <img src="assets/images/logo_3.png" alt="" />
    </span>
    <button
      class="navbar-toggler"
      type="button"
      data-bs-toggle="collapse"
      data-bs-target="#navbarNav"
    >
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav me-auto d-flex flex-wrap">
        <li (click)="showCharacters()">
          <h5 class="card-title"><span class="nav-link nav-link-clickable">Characters</span></h5>
        </li>
        <li (click)="showEpisodes()">
          <h5 class="card-title"><span class="nav-link nav-link-clickable">Episodes</span></h5>
        </li>
      </ul>
      <ul class="navbar-nav">

      </ul>
    </div>
  </div>
</nav>


